@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Barlow", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-royal-purple-50: #f9f6fe;
  --color-royal-purple-100: #f1ebfc;
  --color-royal-purple-200: #e6dafa;
  --color-royal-purple-300: #d2bcf6;
  --color-royal-purple-400: #b691ef;
  --color-royal-purple-500: #9b67e5;
  --color-royal-purple-600: #8348d5;
  --color-royal-purple-700: #6f35bb;
  --color-royal-purple-800: #6433a2;
  --color-royal-purple-900: #4e287b;
  --color-royal-purple-950: #32115a;
}
