---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <img
    class="aspect-square rounded-lg h-32 mx-auto mb-1"
    src="/pfp.png"
    alt="A feminine character sticking their tounge out."
  />

  <h1 class="text-3xl font-semibold text-center mb-1">Hey, I'm Valentine.</h1>
  <h2 class="text-2xl font-medium text-center mb-4">
    An asexual transfem lesbian that makes nerdy stuff online.
  </h2>

  <img
    src="https://github-readme-stats.hackclub.dev/api/wakatime?username=948&api_domain=hackatime.hackclub.com&theme=omni&custom_title=Hackatime+Stats&layout=compact&cache_seconds=0&langs_count=8"
    class="mx-auto mb-4"
    alt="Valentine's Hackatime stats"
  />

  <div class="flex gap-2 mx-auto w-fit items-center">
    <a href="https://discord.gg/UKVMvUG2h9">
      <img
        src="https://img.shields.io/badge/Discord-5865F2?style=for-the-badge&logo=discord&logoColor=white"
        alt="Discord server"
      />
    </a>
    <a href="https://www.youtube.com/@valbuildr">
      <img
        src="https://img.shields.io/badge/YouTube-FF0000?style=for-the-badge&logo=youtube&logoColor=white"
        alt="Youtube channel"
      />
    </a>
    <a href="https://bsky.app/valbuilds.xyz">
      <img
        src="https://img.shields.io/badge/Bluesky-0285FF?logo=bluesky&logoColor=fff&style=for-the-badge"
        alt="Bluesky account"
      />
    </a>
    <a href="https://wetdry.world/@valbuildr">
      <img
        src="https://img.shields.io/badge/Mastodon-6364FF?style=for-the-badge&logo=Mastodon&logoColor=white"
        alt="Mastodon account"
      />
    </a>
    <a href="https://github.com/valbuildr">
      <img
        src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
        alt="Github account"
        class="dark:border"
      />
    </a>
    <a href="https://www.tiktok.com/@valbuildr">
      <img
        src="https://img.shields.io/badge/TikTok-000000?style=for-the-badge&logo=tiktok&logoColor=white"
        alt="Github account"
        class="dark:border"
      />
    </a>
  </div>
</MainLayout>
