---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-semibold text-center mb-1">
    <a href="/">➡️</a> This page has been moved.
  </h1>
  <h2 class="text-2xl font-medium text-center mb-4">
    It's been merged with <a
      href="/"
      class="hover:underline text-royal-purple-800 dark:text-royal-purple-200"
      >the main page</a
    >.
  </h2>
  <p class="text-center">Error 301: Moved Permanently</p>
</MainLayout>
