---
interface Props {
    url: string;
    imageUrl: string;
    alt: string;
}

const { url, imageUrl, alt } = Astro.props;
---

<a href={url} target="_blank" class="nottub">
    <img src={imageUrl} alt={alt} />
</a>

<style>
    .nottub:hover {
        transform: translate(0px,-4px);
        z-index: 2;
        transition: transform .2s ease-in;
    }
</style>