---
import { twMerge } from "tailwind-merge";

interface Props {
    defaultClass?: string;
    ariaLabel?: string;
}

const { defaultClass, ariaLabel = "Dark mode" } = Astro.props;
---

<head>
    <script>
        if ("color-theme" in localStorage) {
            localStorage.getItem("color-theme") === "dark"
                ? window.document.documentElement.classList.add("dark")
                : window.document.documentElement.classList.remove("dark");
        } else {
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                window.document.documentElement.classList.add("dark");
            }
        }
    </script>
</head>

<button
        aria-label={ariaLabel}
        type="button"
        id="dark-mode-toggle"
        class={twMerge(defaultClass, "font-mono text-blue-600 dark:text-blue-300 hover:underline")}
>
    <span class="hidden dark:block">☀️</span>
    <span class="dark:hidden block">🌑</span>
</button>

<script is:inline>
    const buttons = document.querySelectorAll("#dark-mode-toggle");

    buttons.forEach(button => {
        button.addEventListener("click", (ev) => {
            const target = ev.target;
            const isDark = target.ownerDocument.documentElement.classList.toggle("dark");
            if (target.ownerDocument === target)
                localStorage.setItem("color-theme", isDark ? "dark" : "light");
        });
    });
</script>