---
import "../styles/global.css";

import ColorModeToggle from "../components/ColorModeToggle.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>valbuilds</title>
  </head>
  <body
    class="p-4 font-sans bg-white dark:bg-black text-black dark:text-white flex flex-col min-h-screen"
  >
    <div class="text-lg mb-auto my-auto">
      <slot />
    </div>
    <footer
      class="flex flex-wrap sm:justify-between justify-center items-center w-full max-w-screen-xl mx-auto"
    >
      <p class="text-center mb-2 sm:mb-0">Made with ❤️ by Valentine. 🏳️‍⚧️</p>
      <div class="flex gap-2 items-center">
        <ColorModeToggle />
        <a href="/">
          <p
            class="bg-royal-purple-200 dark:bg-royal-purple-800 p-1.5 tracking-tighter text-black dark:text-white hover:bg-royal-purple-300 hover:dark:bg-royal-purple-900"
          >
            valbuilds
          </p>
        </a>
      </div>
    </footer>
  </body>
</html>
